<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.gdprcmplib"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
            android:label="@string/gdpr_cmp_activity_label"
            android:name="org.gdprcmplib.CmpActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:label="@string/gdpr_cmp_activity_label"
            android:name="org.gdprcmplib.CmpDetailsActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>